                       
*{
    margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:#f5f5f5;
}

                                 
.container{
 width:100%;
max-width:1200px;
margin:auto;
padding:0 15px;
}

                                                


                                        
.header .container{
    padding:0 20px;
}

                            
.container.header-top{
    display:flex;
align-items:center;
justify-content:space-between;
padding:15px 0;
position:relative;
overflow:visible !important;
z-index:999;
}

          
.back-btnbutton {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-variant-emoji: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-size-adjust: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    font-language-override: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em 0em 0em 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.logo{
font-size:26px;
font-weight:bold;
}

                           
.search-box{
display:flex;
flex:1;
max-width:600px;
margin:0 40px;   
}

.search-box input{
flex:1;
padding:10px;
border:none;
outline:none;
border-radius:6px 0 0 6px;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}

.search-box button{
 padding:10px 14px;
border:none;
background:#38bdf8;
cursor:pointer;
border-radius:0 6px 6px 0;
}

           
.profile-icon{
    margin-left:auto;
    display:flex;
    align-items:center;
    gap:5px;
    cursor:pointer;
    position:relative;
}

                      
.profile-menu{
    display:none;
position:absolute;
top:35px;
right:0;
background:white;
border-radius:8px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
overflow:hidden;
min-width:170px;
z-index:999;
}

.profile-menu a{
  display:block;
padding:10px 15px;
text-decoration:none;
color:black;
font-size:14px;
}

.profile-menu a:hover{
    background:#f2f2f2;
}

.profile-icon:hover .profile-menu{
    display:block;
}

          
.cart-icon {
    position: relative;
    cursor: pointer;
}
.profile-icon, .cart-icon {
    cursor: pointer;
    white-space: nowrap;
}
#cart-count{
background:red;
color:white;
font-size:12px;
padding:2px 6px;
border-radius:50%;
margin-left:4px;
}

               
.cart-menu{
  display:none;
position:fixed;
top:auto;
right:10px;
background:white;
border-radius:8px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
overflow:auto;
min-width:350px;
z-index:10000;
pointer-events:auto;
}

.cart-icon:hover .cart-menu{
    display:block;
}

                        
.header-bottom{
    background:#020617;
}

.header-bottom .nav{
        background: #020617;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
}
.nav a{
    color:white;
    text-decoration:none;
    font-size:15px;
}

.nav a:hover{
    color:#66b3ff;
}

                                                 

.sidebar-nav{
    position:fixed;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    display:flex;
    flex-direction:column;
    gap:15px;
    z-index:100;
}

.sidebar-nav a{
    text-decoration:none;
    color:#ccc;
    font-size:20px;
}

.sidebar-nav a:hover{
    color:#000;
}

.scroll-down-btn{
    background:#000;
    color:#fff;
    border:none;
    border-radius:50%;
    width:35px;
    height:35px;
    cursor:pointer;
}
.section{
    margin:40px 0;
}
                                                 

.section-header{
     text-align:center;
    margin:30px 0 50px;
}

.section-header h2{
    font-size:28px;
    margin-bottom:10px;
}

.section-header p{
    color:#666;
    max-width:700px;
    margin:auto;
}

                                                 

.contact-grid{
    display:grid;
    grid-template-columns:1.7fr 1fr;
    gap:24px;
    align-items:start;
}

.contact-form-box{
    background:#fff;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.05);
}

.form-group{margin-bottom:20px;}

.form-row{
    display:flex;
    gap:20px;
}

.form-row .form-group{flex:1;}

label{
    display:block;
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}

input, textarea{
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
}

            
.btn-submit{
    width:100%;
    padding:15px;
    background:#00001a;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.btn-submit:hover{
    background:#333;
}

                                               

.store-list-box{
    background:#fff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.05);
    max-height:700px;
    display:flex;
    flex-direction:column;
}

.store-scroll{
    margin-top:20px;
    overflow-y:auto;
}

.store-item{
    border:1px solid #eee;
    padding:20px;
    border-radius:10px;
    margin-bottom:15px;
}

.badge{
    background:#f0f0f0;
    font-size:12px;
    padding:2px 10px;
    border-radius:20px;
}

                                                 

.store-gallery{
    display:flex;
    gap:15px;
    margin-top:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.gallery-item{
    flex:1;
    min-width:200px;
    max-width:300px;
    height:180px;
    border-radius:12px;
    overflow:hidden;
}

.gallery-item img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.4s;
}

.gallery-item:hover img{
    transform:scale(1.1);
}

                                              

.contact-info-section{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px 20px;
    padding:40px;
}

.info-item{
    display:flex;
    gap:15px;
}

.info-icon{
    width:50px;
    height:50px;
    background:#ff5c22;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.info-icon img{
    width:25px;
}

.info-label{
    color:#ff5c22;
    font-size:11px;
    font-weight:700;
}

.info-value{
    font-size:16px;
    font-weight:600;
}

                                                 

.features-grid{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:20px;
}

.feature-card{
  background:#fff;
  padding:20px;
  border-radius:12px;
}

                                                    

@media(max-width:768px){

    .contact-grid{
        grid-template-columns:1fr;
    }

    .form-row{
        flex-direction:column;
    }

    .contact-info-section{
        grid-template-columns:1fr;
    }

    .search-box{
        display:none;
    }
}
                        

.footer{
    background:#020617;
    color:white;
    margin-top:40px;
    padding-top:40px;
}

.footer-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;
}

         
.footer-col h3{
    font-size:16px;
    margin-bottom:15px;
}

.footer-col p{
    font-size:14px;
    margin:5px 0;
}

.footer-col ul{
    list-style:none;
}

.footer-col ul li{
    font-size:14px;
    margin-bottom:8px;
    cursor:pointer;
}

.footer-col ul li:hover{
    color:#38bdf8;
}
footer a{
    color:white;
    text-decoration:none;
    font-size:14px;
}
footer a:hover{
    color:#38bdf8;
}
         
.app-box{
    display:flex;
gap:10px;
margin-bottom:20px;
background :black;
border-radius:10px;
padding:20px;
align-items:center;
}

.qr{
    width:80px;
}

.store img{
    width:110px;
    margin-bottom:6px;
    display:block;
    border:1px solid #ddd;
    padding:6px;
    border-radius:6px;
}

            
.social{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.social span{
    background:white;
    width:35px;
    height:35px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
}

.social img{
    width:18px;
}

             
.payment{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    margin-bottom:20px;
}

.payment img{
    width:70px;
    background:white;
    padding:5px;
    border-radius:6px;
}

          
.cert img{
    width:100px;
    margin-right:10px;
    margin-top:10px;
}

            
.footer-bottom{
    border-top:1px solid #1e293b;
    margin-top:30px;
    padding:20px;
    text-align:center;
}

.footer-logos{
    margin-top:10px;
    display:flex;
    justify-content:center;
    gap:40px;
    font-weight:bold;
}